.container {
  width: 650px;
  margin: 0 auto;
}
.container div {
  border: solid 1px rgba(0, 0, 0, 0.338);
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container button {
  border: none;
  background-color: violet;
  width: 80px;
  border-radius: 15px;
}

.container button:hover {
  cursor: pointer;
}

.container .hidden {
  display: none;
}
.container .not-hidden {
  display: block;
}

.content-1 {
  background-color: yellow;
}
.content-2 {
  background-color: green;
}
.content-3 {
  background-color: red;
}
